body {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  margin: 0;
  margin-bottom: 70px;
}

h1 strong {
  color: #545454;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

h3, h4, h5, h6 {
  color: #545454;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}


.header {
  background-color: #F5F7F9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 20px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

figure img {
  height: 150px;
}

.menu { /* .menu hereda de .header */
  height: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -.2px;
}

.header ol { /* .header ol hereda de .menu */
  display: flex;
  height: inherit;
}

.header ol li { /* .header ol li hereda de .header ol */
  height: inherit;
}

.header a { /* .header a hereda de .header ol li */
  color: black;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.hero {
  height: 500px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.experience {
  padding: 100px;
  background-color: #F5F7F9;
}

.experience strong {
  color: #545454;
}

.project {
  margin: 50px 0;
}

.project_title,
.project_date,
.project_url {
  margin: 10px 0;
}

.project_description {
  margin: 10px 0;
  margin-bottom: 0;
}

.project_details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project_text {
  margin: 10px 0;
  width: 800px;
}

.project_events {
  margin: 10px 10px;
  margin-left: 0;
  width: 250px;
}

.abilities {
  padding: 100px;
}

.coding {
  padding: 100px;
  background-color: #F5F7F9;
}

.contact {
  padding: 100px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.github {
  background-image: url('../images/github.svg');
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}

.social-link.instagram {
  background-image: url('../images/instagram.svg');
}